
VR_Scuba/Intermediate/CachedAssetRegistry.bin
VR_Scuba/Intermediate/ShaderAutogen/PCD3D_ES31/AutogenShaderHeaders.ush
VR_Scuba/Intermediate/ShaderAutogen/PCD3D_SM5/AutogenShaderHeaders.ush
VR_Scuba/Saved/Config/CrashReportClient/UECC-Windows-123EF86E45C72A46F9F64BB5672F1089/CrashReportClient.ini
VR_Scuba/Saved/Config/CrashReportClient/UECC-Windows-AE5C47D946C6AD9D03AE93A2EDC8E74C/CrashReportClient.ini
VR_Scuba/Saved/Logs/VR_Scuba.log
